*{
  box-sizing:border-box;
}

.row::after{
  content:"";
  clear:both;
  display:block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    width:100%;
}

html {
  padding:0px;
  margin:0px;
  font-family:sans-serif;
  background-color:#f4f4f4;
}

body{
  padding:0px;
  margin:0px;
}

/*Navigation Bar Design
----------------------------------------------------*/

nav{
  height:60px;
  width:100%;
  background:#383a6a;
  position:fixed;
  top:0px;
  left:0px;
}



nav .upper{
  color: #e3e3e3;
  height: 35%;
  font-size: 11px;
  padding-top: 6px;
  padding-left: 70px;
  font-weight: 800;
}

nav .lower{
  height: 65%;
  background: #262635;
  color: #b78a66;
  font-weight: 900;
  padding-left: 70px;
  font-size: 24px;
}

nav .box{
  height: 50px;
  position: absolute;
  top: 5px;
  margin-left: 15px;
  background-color: #262635;
  padding: 4px;
  text-align: center;
}
.box img{
  height:100%;
}
/*End of Navigation Bar*/


/* Header Design
--------------------------------------------*/
header{
  height: 80vh;
  background: url("../img/bg.jpg");
  width: 100%;
  margin-top: 60px;
  display: table;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size:cover;
}
header .container{
  display:table-cell;
  vertical-align: middle;
  text-align:center;
}

header .title{
  color: #dadaed;
  background: rgba(47,47,47,0.5);
  padding: 7px;
  border-radius: 5px;
  font-weight:800;
}

header img{
  height:40%;
}

header ul{
  list-style:none;
}

header ul li{
  display:inline;
  padding:5px;
  border-radius:3px;
  background: rgba(47,47,47,0.5);
  color: #7d819c;
  font-weight:bold;
}
/*End of Header Design*/


/*HTML5 Design
------------------------------------------------*/
#html5{
  background:#dadaed;
  padding-top:30px;
  padding-bottom:30px;
  padding-left:15px;
  padding-right:15px;
}

#html5 .col-right, #html5 .col-left{
  float:left;
}
#html5 .col-right{
  width:75%;
  padding-right:50px;
  padding-top:70px;
}
#html5 .col-left{
  width:25%;
}

#html5 .col-left img{
  height:100%;
  width:100%;
}
#html5 .title{
  color: white;
  background: #E44D26;
  padding: 10px 30px 10px 30px;
  font-size: xx-large;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#html5 blockquote{
  width: 100%;
  background-color: white;
  margin: 0;
  padding: 15px;
  text-align: justify;
  border-top-right-radius: 15px;
  color: #3e3e3e;
}

#html5 h3{
  margin:0px 0px 10px 0px;
}

#html5 .footer{
  background: #F16529;
  padding: 10px;
  font-size: smaller;
  color: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#html5 .footer h4{
  margin:0px;
  font-weight:bolder;
  font-size:900;
}

#html5 a:visited, #html5 a{
  color:white;
  text-decoration: none;
}

/*End of HTML 5 Design*/




/*CSS3 Design
------------------------------------------------*/
#css3{
  background:#ffffff;
  padding-top:30px;
  padding-bottom:30px;
  padding-left:15px;
  padding-right:15px;
}


#css3 .col-right, #css3 .col-left{
  float:right;
}
#css3 .col-right{
  width:75%;
  padding-right:50px;
  padding-top:70px;
}
#css3 .col-left{
  width:25%;
}

#css3 .col-left img{
  height:100%;
  width:100%;
}
#css3 .title{
  color: white;
  background: #0170BA;
  padding: 10px 30px 10px 30px;
  font-size: xx-large;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#css3 blockquote{
  width: 100%;
  background-color: #DADAED;
  margin: 0;
  padding: 15px;
  text-align: justify;
  border-top-right-radius: 15px;
  color: #3e3e3e;
}

#css3 h3{
  margin:0px 0px 10px 0px;
}

#css3 .footer{
  background: #29A9DF;
  padding: 10px;
  font-size: smaller;
  color: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#css3 .footer h4{
  margin:0px;
  font-weight:bolder;
  font-size:900;
}

#css3 a:visited, #css3 a{
  color:white;
  text-decoration: none;
}

/*End of CSS 3 Design*/


/*Javascript Design
------------------------------------------------*/
#js{
  background:#dadaed;
  padding-top:30px;
  padding-bottom:30px;
  padding-left:15px;
  padding-right:15px;
}

#js .col-right, #js .col-left{
  float:left;
}
#js .col-right{
  width:75%;
  padding-right:50px;
  padding-top:70px;
}
#js .col-left{
  width:25%;
}

#js .col-left img{
  height:100%;
  width:100%;
}
#js .title{
  color: white;
  background: #D5BA32;
  padding: 10px 30px 10px 30px;
  font-size: xx-large;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#js blockquote{
  width: 100%;
  background-color: white;
  margin: 0;
  padding: 15px;
  text-align: justify;
  border-top-right-radius: 15px;
  color: #3e3e3e;
}

#js h3{
  margin:0px 0px 10px 0px;
}

#js .footer{
  background: #FED93D;
  padding: 10px;
  font-size: smaller;
  color: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#js .footer h4{
  margin:0px;
  font-weight:bolder;
  font-size:900;
}

#js a:visited, #js a{
  color:white;
  text-decoration: none;
}

/*End of Javascript Design*/



/*Footer Design
---------------------------------------*/
footer{
  background:#383a6a;
  padding:20px;
  text-align: center;
  color:#ffffff;
}
/*End of Footer Design*/
